[submodule "shogun-core"]
	path = shogun-core
	url = https://github.com/scobru/shogun-core
[submodule "shogun-d3"]
	path = shogun-d3
	url = https://github.com/scobru/shogun-d3
[submodule "shogun-button-react"]
	path = shogun-button-react
	url = https://github.com/scobru/shogun-button-react
[submodule "shogun-messenger-app"]
	path = shogun-messenger-app
	url = https://github.com/scobru/shogun-messenger-app
[submodule "shogun-panpot"]
	path = shogun-panpot
	url = https://github.com/scobru/shogun-panpot
[submodule "shogun-protocol"]
	path = shogun-protocol
	url = https://github.com/scobru/shogun-protocol
[submodule "shogun-task-app"]
	path = shogun-task-app
	url = https://github.com/scobru/shogun-task-app
[submodule "shogun-relay"]
	path = shogun-relay
	url = https://github.com/scobru/shogun-relay
[submodule "shogun-contracts"]
	path = shogun-contracts
	url = https://github.com/scobru/shogun-contracts
[submodule "shogun-wallet-app"]
	path = shogun-wallet-app
	url = https://github.com/scobru/shogun-wallet-app
[submodule "shogun-se2"]
	path = shogun-se2
	url = https://github.com/scobru/shogun-se2
[submodule "shogun-landing"]
	path = shogun-landing
	url = https://github.com/scobru/shogun-landing
